.ex-border{
	border: 1px solid red;
}
#easports{
	background-color: #161616;
	height: 45px;
	color: #a2a2a2;
	font-family: 'Oswald', sans-serif;
}
.navbar-container{
	background-color: #161616;
}
.navbar{
	background-color: #161616;
	z-index: 1000;
	width: 100%;
	padding: 10px 0;
}
.navbar li{
}
.navbar-menu-items a,
.navbar-menu-drop-items a{
	color: #fefefe;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	transition: all 0.5s ease;
}
.navbar-menu-items a:hover,
.navbar-menu-drop-items a:hover{
	color: #c0ff36;
}
.navbar-menu-drop{
	background-color: #161616;
	border: 0 solid black;
	padding: 20px;
	width: 250px;
}
.navbar-menu-drop-items{
	border-bottom: 1px solid #3A3A3A;
	padding: 6px 0;
}
.navbar-menu-drop-items:last-child{
	border-bottom: 0 solid #666666;
}
.navbar-menu-drop-items a{
	color: #a2a2a2;
}
.dropdown a:after {
    color: red;
}
.fifaCopy{
	position: relative;
}
.fifaCopy picture{
	width: 100%;
	max-height: 952px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.fifaCopy-picture img{
	width: 100%;
}
.fifaCopy-content{
	position: absolute;
	top:10%;
	z-index: 2;
}
.fifaEditions{
	background-color: #201c55;
}
.social{
	background-color: #e8e8ee;
	padding: 75px 85px;
	text-align: center;
}
.social h4{
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	padding-bottom: 35px;
}
.social-items{
	padding-top: 25px; 
	padding-bottom: 25px;
	border-left: 1px dashed #c7c7cc;
}
.social-items:first-child{
	border-left: 0px solid #c7c7cc;
}
.social-items p{
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
}
.social-items i{
	color: #cf216a;
	font-size: 35px;
}
footer{
	background-color: #000000;
	padding: 20px 15px;
}
.legal{
	background-color: #444444;
	position: relative;
}
.legal-nav{
	padding: 0;
	margin: 0;
}
.legal-items{
	display: inline-block;
	margin-left: 15px;
}
.legal-items a{
	font-size: 12px;
	color: #fefefe;
	text-decoration: none;
}
.legal p{
	font-size: 12px;
	color: #fefefe;
	text-decoration: none;
}
.legal-logo-footer{
	position: absolute;
	bottom: 0;
	left: 0;
}